<div class="min-h-screen bg-white flex items-center justify-center">

  <div class="relative w-[1440px] h-[899px] bg-white overflow-hidden">

    <!-- Left Section -->
<div
  class="absolute left-[79px] top-[74px]
         w-[715px] h-[723px]
         rounded-[25px]
         bg-white">

</div>

    <!-- Right Section -->
    <div class="absolute left-[857px] top-[130px]">

      <!-- Heading -->
      <h1
        class="text-[48px]
               font-medium
               leading-[150%]
               text-black">

        Login to CampusCart

      </h1>

      <!-- Description -->
      <p
        class="mt-[20px]
               w-[498px]
               text-center
               text-[25px]
               leading-[150%]
               text-[#A29E9E]">

        Enter your email address and we’ll <br>
        send you an OTP to continue

      </p>

      <!-- Form -->
      <div class="mt-[60px]">

        <!-- Label -->
        <label
          class="block
                 mb-[15px]
                 text-[20px]
                 text-black/40">

          E-mail

        </label>

        <!-- Input -->
        <input
          type="email"
          placeholder="Enter your college Email"

          class="w-[467px]
                 h-[75px]
                 rounded-[25px]
                 border
                 border-[#2FA084]
                 bg-[#EEF7F5]
                 px-6
                 outline-none
                 text-[18px]" />

        <!-- Center Button -->
        <div class="w-[467px] flex justify-center">

          <button
            class="mt-[80px]
                   w-[260px]
                   h-[70px]
                   rounded-[25px]
                   bg-[#2FA084]
                   text-white
                   text-[25px]
                   font-medium
                   transition-all
                   duration-300
                   hover:scale-105">

            Generate OTP

          </button>

        </div>

      </div>

    </div>

  </div>

</div>