@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;700&family=Inter:wght@400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

.share-container {
  font-family: 'IBM Plex Serif', serif;
}

button i {
  display: flex;
  align-items: center;
  justify-content: center;
}